/*
* RBOTCSS, Copyright 2021 Shuchir Jain
* https://repl.it/@CoolCoderSJ/rbotcss#style.css
* https://github.com/CoolCoderSJ/rbot.css
* https://repl.it/@CoolCoderSJ
* https://github.com/CoolCoderSJ
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
	padding-left: 10px;
	padding-right: 10px;
}

body {
	background: #152251;
}

.text, .link {
	color: #9aaae5;
	font-family: 'Raleway', sans-serif;
}

.center {
	text-align: center;
}

.hr {
	width: 90%;
	color: #9aaae5;
}

.link {
	color: #c2ccef;
}

.ul {
	color: #9aaae5;
	font-family: 'Raleway', sans-serif;
	height: 100%;
	width: 100%;
	list-style-type: circle;
}


.ol {
	color: #9aaae5;
	font-family: 'Raleway', sans-serif;
	height: 100%;
	width: 100%;
	list-style-type: upper-roman;
}

fieldset {
	border-color: #9aaae5;
	border-style: solid;
	border-radius: 8px;
}

.input {
	border-radius: 6px;
	height: 30px;
	width: 20%;
	font-family: 'Raleway', sans-serif;
	background-color: #161f27;
	color: white;
}

.textarea {
	border-radius: 6px;
	height: 60px;
	width: 90%;
	font-family: 'Raleway', sans-serif;
	padding-top: 5px;
	background-color: #161f27;
	color: white;
}

.btn {
	height: 50px;
	width: 10%;
	border-radius: 6px;
	background-color: #10193d;
	color: #7289da;
}

.select {
	width: 120px;
	height: 30px;
	border: 1px solid #999;
	font-size: 18px;
	color: #7289da;
	background-color: #eee;
	border-radius: 5px;
	box-shadow: 4px 4px #ccc;
}

blockquote {
  border-left: 4px solid #0096bfab;
  margin: 1.5em 0em;
  padding: 0.5em 1em;
  font-style: italic;
}

blockquote > footer {
  margin-top: 10px;
  font-style: normal;
}

code, kbd {
  background: #161f27;
  color: #ffbe85;
  padding: 5px;
  border-radius: 6px;
}

pre > code {
  padding: 10px;
  display: block;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
}

td, th {
  padding: 6px;
  text-align: left;
}

th {
  border-bottom: 1px solid #dbdbdb;
}

table, th, td {
	border-radius: 8px;
	border: 1px solid black;
}

tr:nth-child(even) { 
    background-color: #253c8d; 
}
tr:nth-child(odd) { 
    background-color: #203379; 
}

.collapsible {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:hover {
  background-color: #253c8d;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #203379;
  color: #7289da;
}

.footer {
	text-align: center;
}

.topnav {
  overflow: hidden;
  padding-bottom: 25px;
  padding-top: 10px;
  background-color: #152251;

}

.topnav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 8px;
}

.topnavitem a:hover {
  background-color: #253c8d;
  border-radius: 8px;
  color: white;
}

.topnav a.active {
  background-color: #203379;
  border-radius: 8px;
  color: white;
}

.brand {
	padding-right: 30px !important;
	font-size: 25px !important;
}